#inputArea {
    height: 40%;
    width: 100%;
    overflow-y: scroll;
}

#content {
    height: 70%;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 4px;
    background-color: #DDE6F8;
}

#slider {
    background: grey;
    -webkit-appearance: none;
    margin-top: 8px;
    height: 8px;
}
